{% extends "base.html" %}

{% block title %}Login | Ramskon{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Welcome Back</h2>
        <p class="muted">Login to continue your course journey.</p>

        <form method="POST" class="auth-form">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit" class="btn btn-primary full-width">Login</button>
        </form>

        <p class="bottom-text">
            Don’t have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

        <div class="demo-box">
            <p><strong>Admin demo</strong></p>
            <p>Email: admin@ramskon.com</p>
            <p>Password: admin123</p>
        </div>
    </div>
</div>
{% endblock %}